body {
	overflow-x: hidden;
}
html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-brand {
	color:white;
}
.navbar-auth {
	margin-right: 20px;
	margin-top: 10px;
}
.navbar-auth a {
	margin-left: 5px;
}
.register-body , .login-body {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 100%;
}
.home {
	margin-top: -19px;
	background: #546777;
	height: 200px;
	color:white;
}