body {
	overflow-x: hidden;
}
html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-brand {
	color:white;
}
.navbar-auth {
	margin-right: 20px;
	margin-top: 10px;
}
.navbar-auth a {
	margin-left: 5px;
}
.register-body , .login-body {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 100%;
}
.home {
	margin-top: -19px;
	background: hsla(75, 16%, 41%, 0.97);
	height: 200px;
	color:white;
}
.main p {
	margin-bottom: auto;
	margin-top: auto;
}
.features {
	position: absolute;
	margin-top: 13%;
	height:calc(100% - (220px));
	width:100%;
	background: #76775482;
	color: black;
}
.features strong  {
	position: absolute;
	margin-left: 20px;
	padding-top: 20px;
}
.features-list {
	margin-top: 50px;
	color:blue;
	width:400px;
	border: 1px solid gray;
	height: 30px;
	float: left;
	margin-left: 20px;
}
.treqForu {
	background: green;
	float: left;
	min-width: 300px;
	text-align: center;
}
.treqFromu {
	background: green;
	min-width: 300px;
	text-align: center;
	float: right;
}
.myBooks {
	clear:both;
}
.myBooks-each {
	float: left;
	margin-left: 5px;
}
.allBooks {
	clear:both;
}
.allBooks-each {
	float: left;
	margin-left: 5px;
}
.logo img {
	width:30px;
	height: 30px;
	margin-top: -320px;
	cursor: pointer;
	-webkit-filter: brightness(100%);
}
.logo .active  {
	width:30px;
	height: 30px;
	margin-top: -320px;
	cursor: pointer;
	-webkit-filter: brightness(50%);
}